/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ------body elements------*/
 body {
   font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
   font-size: 19px;
   padding: 0;
   margin: 0;
   background-color: #cee4fb;
 }
/* ------nav bar elements------*/
.nav-tabs{
    border-bottom: 1px solid #a78b16;
}
.navbar .nav>li>a {
    font-family: 'Source Sans Pro','Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

 /* ------body elements------*/
#map-container { height: 400px; }

a {
    color: #6b0e3c;
}

/* ------jumbotron elements------*/
.jumbotron {
  background-color: #cee4fb;
  padding-top: 100px;
}

.jumbotron h1, .jumbotron .h1 {
    font-family: 'Sanchez', 'Montserrat', sans-serif;
    font-size: 46px;
}

/* ------carousel images------*/
.carousel, .item, .active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.img-full {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
    object-position: 50% 50%;
}

/* ------home class elements------*/
.home {
    display: block;
    margin: auto;
}

/* ------blockquote elements------*/
blockquote {
    border: none;
    font-size: 19px;
}

/* ------tabs styling------*/
.tab-content h2 {
    font-family: 'Montserrat', sans-serif;
    color: #752f00;
}

/* ------description list elements------*/
dl {
	margin: 2em 0;
	padding: 0;
    width: auto;
}
dt {
	background-color: #0b486b;
	color: #959289;
	padding: .5em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-left: 1px solid #131210;
	border-right: 1px solid #131210;
	border-top: 1px solid #131210;
}


dd {
	margin: 0 0 1em 0;
	background: #fff8f0;
	text-align: center;
	padding: 1em .5em;
	font-style: italic;
	border-left: 1px solid #131210;
	border-right: 1px solid #131210;
	border-bottom: 1px solid #131210;
}


/* ------unordered list styling------*/
ul {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}

/* ------text center class------*/
.text-center {
    text-align: center;
}
/*--------Header center for small screen sizes--------*/
@media (max-width: 1199px) and (min-width: 300px){
     h1 {
        text-align: center;
      }
